@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Allura&family=Parisienne&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Cardo:regular,italic,700);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

:root {
    --cor1: #b4445c;
    --cor2: #fcf3f3;
    --cor3: #465f44;
    --cor4: #8a9163;
    --cor5: #d2cea7;
    --cor6: #D6BBF5;
    --cor7: #8c6547; 

    --font1: 'Ubuntu', sans-serif;
    --font2: 'Parisienne', sans-serif;
    --font3: 'Cardo', sans-serif;
    --font4: 'Baskerville', sans-serif;
    --font5: 'Montserrat', sans-serif;
}

* {
    margin: 0; padding: 0; box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}

.conteiner-header {
    width: 100vw; height: 100vh;
}

/*imagem principal*/

#conteiner-image {
    width: 100%; height: 100%;
    position: absolute; top: 0; z-index: -10000;
    background-image: url(img/foto\ casal.jpg);
    background-size: cover; background-position: center;
}

/*header-section 01*/

.header {
    height: 78px; width: 100%; font-size: 2rem;
    display: flex; align-items: center; justify-content: center;
}

.menu {
    display: flex;
    gap: 3rem; list-style: none;
}

.menu a {
    display: flex; text-decoration: none; font-size: 1.5rem;
    font-family: var(--font1); color: var(--cor2);
}


#button_presença {
    border: 0.3rem solid var(--cor2); border-radius: 2rem;
    padding: 1rem 2rem;
    font-size: 1.1rem; font-family: var(--font1);
    color: var(--cor7); background-color: var(--cor2);
}

.header-text {
    width: 100%;
    display: flex; flex-direction: column; align-items: center;
    color: var(--cor2); margin-top: 4rem;
}
.header-text h1 {
    font-size: 3.5rem; font-family: var(--font3);
}
.header-text h2 {
    font-family: var(--font3); font-size: 1.6rem;
}

#presença {
    margin-top: 2.2rem; text-decoration: none;
}

.header-text h3 {
    margin-top: 3.3rem; font-size: 1.2rem; text-align: center; padding: 0 2rem;
}

/*responsividade-mobile*/

#bnt-mobile {display: none; color: var(--cor3); cursor: pointer;}

.nav #bnt-fechar {display: none;}

@media screen and (max-width: 620px) {
    .header-text h1 {font-size: 2.5rem;}
    .header-text h2 {font-size: 1.4rem;}
    .footer_conteiner {height: 8rem;}
    #button_presença {padding: 0.5rem 1rem;}
    #frase {font-size: 1.5rem; text-align: center; padding: 0 1rem;}

    #bnt-mobile {
        display: block; position: absolute; top: 5rem; right: 5rem;
        z-index: 1000000; color: var(--cor7);
    }

    .menu {
        width: 100vw; height: 0vh;
        position: absolute; top: 0; left: 0;
        display: flex; align-items: center; justify-content: center; flex-direction: column;
        background-color: var(--cor3); z-index: 10000; transition: .6s;
    }
    .menu a {
        border-radius: 0; border: 0; width: 100%; padding: 2rem;
        background-color: var(--cor2); color: var(--cor7); visibility: hidden; 
        opacity: 0; transition: .6s;
        display: flex; justify-content: center;
    }

    .nav #bnt-mobile {display: block;}
    .nav #bnt-fechar {display: none;}

    .nav.active .menu {height: 100vh;}

    .nav.active .menu a {visibility: visible; opacity: 100%;} 

    .nav.active #bnt-mobile {color: var(--cor2); display: none;}
    .nav.active #bnt-fechar {
        display: block; z-index: 999999;
        position: absolute; top: 5rem; right: 5rem;
        cursor: pointer; font-family: var(--font1);
    }
    #bnt-fechar a {text-decoration: none; color: var(--cor2); font-size: 2.4rem;}

}

@media screen and (min-width: 320px) and (max-width: 620px) {
    .header-text h1 {font-size: 2rem;}
    .header-text h2 {font-size: 1rem;}
    .footer_conteiner {height: 5rem;}
    #button_presença {padding: 0.3rem 0.8rem;}
    .header-text h3 {font-size: 0.9rem; text-align: center; padding: 0 2.5rem;}
    
    #bnt-mobile {
        display: block; position: absolute; top: 5rem; right: 5rem; 
        z-index: 1000000; color: var(--cor7);
    }
    .menu {
        width: 100vw; height: 0vh;
        position: absolute; top: 0; left: 0;
        display: flex; align-items: center; justify-content: center; flex-direction: column;
        background-color: var(--cor3); z-index: 10000; transition: .6s;
    }
    .menu a {
        border-radius: 0; border: 0; width: 100%; padding: 2rem;
        background-color: var(--cor2); color: var(--cor7); visibility: hidden; 
        opacity: 0; transition: .6s;
    }

    .nav.active .menu {height: 100vh;}

    .nav.active .menu a {visibility: visible; opacity: 100%;} 

    .nav.active #bnt-mobile {color: var(--cor2);}
}

/*Estilização página aviso*/

.conteiner_aviso {
    background-image: url(img/mãos.jpg);
    background-repeat: no-repeat; background-size: cover; background-position: top center;
    width: 100vw; height: 100vh;
    display: flex; align-items: center;
}

.infor-avisos {
    width: 100%; height: 12rem;
    background-color: var(--cor2);
    display: flex; align-items: center; justify-content: center; flex-direction: column;
    gap: 1.3rem; 
}

.infor-avisos p {
    font-family: var(--font1); font-size: 1.3rem; text-align: center;
    color: var(--cor3);
}

.infor-avisos a {
    background-color: var(--cor3); color: var(--cor2); font-size: 1rem;
    text-decoration: none; padding: 0.6rem 0.8rem; border-radius: 3rem;
    font-family: var(--font1);
}

#exit-aviso {
    background-color: var(--cor2); border: 0; border-radius: 0.8rem;
    width: 3.1rem; height: 3.1rem;
    position: absolute; top: 5rem; right: 5rem;
    color: var(--cor3); font-size: 2.6rem; font-family: var(--font5);
    cursor: pointer; display: none;
}

#image_aviso {
    width: 100%; height: 100%;
    position: absolute; top: 0; z-index: -10000;
    background-size: cover; background-position: center;
}

@media screen and (min-width: 320px) and (max-width: 620px) {
    .infor-avisos {padding: 0rem 1rem; height: 16rem; gap: 1.6rem;}
    .infor-avisos p {font-size: 0.8rem;}
    #exit-aviso {display: block;}
}